<div class="d-flex">
  <app-asset-list-sidebar></app-asset-list-sidebar>
  <div class="w-100">
    <app-asset-list-header></app-asset-list-header>
    <app-asset-list-breadcrumb></app-asset-list-breadcrumb>
    <div class="container-fluid">
      <div id="2200:1529" class="divcontent-22001529">
        <button
          mat-button=""
          id="2200:6451"
          class="btn btnmataddcategory-22006451"
          (click)="goToAddEditPage('Add')"
        >
          Add Product
        </button>
      </div>
      <div class="table">
        <div class="table-card">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="VendorId">
              <th mat-header-cell *matHeaderCellDef>ID#</th>
              <td mat-cell *matCellDef="let element">{{ element.VendorId }}</td>
            </ng-container>

            <ng-container matColumnDef="ProductName">
              <th mat-header-cell *matHeaderCellDef>Asset Name</th>
              <td mat-cell *matCellDef="let element">
                {{ element.ProductName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element">
                {{ element.Description }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Category">
              <th mat-header-cell *matHeaderCellDef>Category</th>
              <td mat-cell *matCellDef="let element">{{ element.Category }}</td>
            </ng-container>

            <ng-container matColumnDef="Code">
              <th mat-header-cell *matHeaderCellDef>CODE</th>
              <td mat-cell *matCellDef="let element">{{ element.Code }}</td>
            </ng-container>

            <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let element">
                <div class="status-style">
                  {{ element.Status }}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td fxLayout="row" mat-cell *matCellDef="let element">
                <button
                  mat-raised-button
                  class="btn-color-violet"
                  style="margin-right:10px;"
                  (click)="goToViewAssetDetails(element)"
                >
                  <mat-icon>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="16"
                      width="18"
                      viewBox="0 0 576 512"
                    >
                      <path
                        fill="#ffffff"
                        d="M572.5 241.4C518.3 135.6 410.9 64 288 64S57.7 135.6 3.5 241.4a32.4 32.4 0 0 0 0 29.2C57.7 376.4 165.1 448 288 448s230.3-71.6 284.5-177.4a32.4 32.4 0 0 0 0-29.2zM288 400a144 144 0 1 1 144-144 143.9 143.9 0 0 1 -144 144zm0-240a95.3 95.3 0 0 0 -25.3 3.8 47.9 47.9 0 0 1 -66.9 66.9A95.8 95.8 0 1 0 288 160z"
                      />
                    </svg>
                  </mat-icon>
                  <div class="btntext">View</div>
                </button>
                <button
                  mat-raised-button
                  class="btn-edit"
                  style="margin-right:10px;"
                  (click)="goToAddEditPage('Edit', element)"
                >
                  <mat-icon>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="14"
                      width="14"
                      viewBox="0 0 512 512"
                    >
                      <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                      <path
                        d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"
                      />
                    </svg>
                  </mat-icon>
                  <div class="btntext">Edit</div>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <div class="card-footer">
            <mat-paginator
              [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page"
            >
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
