.table-card {
  border-radius: 10px;
  width: 100%;
  justify-self: center;
  align-self: center;
  padding: 10px;

  .mat-table {
    width: 100%;
  }

  th,
  td {
    align-items: center !important;
  }

  table th:last-child,
  table td:last-child {
    width: 5%;
  }

  .status-style {
    background-color: #c9f7f5;
    color: #1bc5bd;
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
  }

  .btn-color-violet {
    display: flex;
    background-color: #8950fc;
    color: #fff;
    width: 70px;
    height: 34px;
  }

  .btn-edit {
    display: flex;
    background-color: #0bb783;
    color: #fff;
    width: 70px;
    height: 34px;
  }

  .card-footer {
    margin-top: 5px;
    justify-content: end;
    display: flex;
  }
}

.btnmataddcategory-22006451 {
  background-color: #250660;
  color: white;
}

.divcontent-22001529 {
  display: flex;
  padding: 10px;
  justify-content: end;
}

mat-icon {
  position: absolute;
  top: 1px;
  left: 4px;
}
.btntext {
  position: absolute;
  top: 1px;
  left: 30px;
}
