.divbody-21672215 {
  position: relative;
  width: 100%;
  height: 859px;
  opacity: 1;
  border: none !important;
}

.divparticipants-21652213 {
  position: relative;
  width: 100%;
  height: 399px;
  top: 100px;
  opacity: 1;
  border: none !important;
}

.lblparticipants-202611206 {
  position: absolute;
  width: 205px;

  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}

.divtable-202611245 {
  position: relative;
  width: 100%;
  height: 345px;
  top: 54px;
  opacity: 1;
  border: none !important;
}

.divdetails-202611182 {
  position: relative;
  width: 100%;
  height: 166px;
  top: 60px;
  opacity: 1;
  border: none !important;
}

.divframe-202611196 {
  position: relative;
  width: 426px;
  height: 122px;
  opacity: 1;
  border: none !important;
}

.divrow-202611197 {
  position: absolute;
  width: 426px;
  height: 34px;
  opacity: 1;
  border: none !important;
}

.lbldesc-202611198 {
  position: absolute;
  width: 205px;

  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}

.lbldesc-202611199 {
  position: absolute;
  width: 193px;

  margin-left: 233px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}

.divrow-202611200 {
  position: absolute;
  width: 426px;
  height: 34px;
  top: 44px;
  opacity: 1;
  border: none !important;
}

.lbldesc-202611201 {
  position: absolute;
  width: 205px;

  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}

.lbllabel-202611202 {
  position: absolute;
  width: 193px;

  margin-left: 233px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}

.divrow-202611203 {
  position: absolute;
  width: 395px;
  height: 34px;
  top: 88px;
  opacity: 1;
  border: none !important;
}

.divrow-20261120333 {
  position: absolute;
  width: 395px;
  height: 34px;
  top: 128px;
  opacity: 1;
  border: none !important;
}

.lbllabel-202611204 {
  position: absolute;
  width: 205px;

  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}

.lbldesc-202611205 {
  position: absolute;
  width: 162px;

  margin-left: 233px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}

.divframe-202611183 {
  position: relative;
  width: 350px;
  height: 166px;
  opacity: 1;
  border: none !important;
}

.divrow-202611184 {
  position: absolute;
  width: 343px;
  height: 34px;
  opacity: 1;
  border: none !important;
}

.lbldesc-202611185 {
  position: absolute;
  width: 205px;

  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}

.lbldesc-202611186 {
  position: absolute;
  width: 110px;

  margin-left: 233px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}

.divrow-202611187 {
  position: absolute;
  width: 350px;
  height: 34px;
  top: 44px;
  opacity: 1;
  border: none !important;
}

.lbldesc-202611188 {
  position: absolute;
  width: 205px;

  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}

.lbldesc-202611189 {
  position: absolute;
  width: 240px;

  margin-left: 233px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}

.divrow-202611190 {
  position: absolute;
  width: 297px;
  height: 34px;
  top: 88px;
  opacity: 1;
  border: none !important;
}

.lbldesc-202611191 {
  position: absolute;
  width: 205px;

  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}

.lbldesc-202611192 {
  position: absolute;
  width: 124px;

  margin-left: 233px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}

.divrow-202611193 {
  position: absolute;
  width: 328px;
  height: 34px;
  top: 132px;
  opacity: 1;
  border: none !important;
}

.lbllabel-202611194 {
  position: absolute;
  width: 205px;

  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}

.lbldesc-202611195 {
  position: absolute;
  width: 95px;

  margin-left: 233px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}

.divrow-202611207 {
  position: relative;
  width: 100%;
  height: 40px;
  margin-left: 4px;
  opacity: 1;
  border: none !important;
}

.lblviewtaskdetails-202611208 {
  position: relative;
  width: 295px;

  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  line-height: 28px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}

.btnmatbutton-202611210 {
  position: relative;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 13px;
  text-decoration: NONE;
  color: #ffffff;
  width: 161px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
  background-color: #250660;
}
//table

.divheader-202612704 {
  position: relative;
  width: 100%;
  height: 43px;
  opacity: 1;
  border: none !important;
  background-color: #f3f6f9;
}

.divcell-202612715 {
  position: relative;
  width: 100%;
  height: 37px;
  opacity: 1;
  border: none !important;
}

.divlabel-202612716 {
  position: absolute;
  width: 73px;
  height: 13px;
  margin-left: 9px;
  top: 12px;
  opacity: 1;
  border: none !important;
}

.lbltext-202612732 {
  position: absolute;
  width: 105px;

  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 13px;
  line-height: 13px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}

.divsort-202612733 {
  position: relative;
  width: 34px;
  height: 42px;

  opacity: 1;
  border: none !important;
}

.svgicon-202612734 {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: 9px;
  top: 13px;
  opacity: 1;
  border: none !important;
  padding: 0;
}

.divrow-202612749 {
  position: relative;
  width: auto;
  height: 292px;
  opacity: 1;
  border: none !important;
}

//left

.divcell-202612921 {
  position: relative;
  width: auto;
  height: 51px;
  opacity: 1;
  border: none !important;
}

.divcontent-202612923 {
  position: relative;
  width: auto;
  height: 18px;
  top: 16.5px;
  opacity: 1;
  border: none !important;
}

.lbltext-202612940 {
  position: absolute;
  width: 139px;

  margin-left: 10px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}

.divline-202612959 {
  position: relative;
  width: 100%;
  height: 1px;
  top: 51px;
  opacity: 1;
  border: none !important;
  background-color: #ecf0f3;
}
