<div class="d-flex">
  <app-check-in-sidebar></app-check-in-sidebar>
  <div class="w-100">
    <app-check-in-header></app-check-in-header>
    <app-view-borrowing-history-breadcrumb></app-view-borrowing-history-breadcrumb>

    <div id="2167:2215" class="divbody-21672215 ps-4 pe-4">
      <div
        id="2026:11207"
        class="divrow-202611207 d-flex mt-4 justify-content-between"
      >
        <div id="2026:11208" class="lblviewtaskdetails-202611208">
          View Task Details
        </div>
        <button
          mat-button=""
          id="2026:11210"
          class="btn btnmatbutton-202611210"
          (click)="goToDashboard()"
        >
          Back to Dashboard
        </button>
      </div>
      <div
        id="2026:11182"
        class="divdetails-202611182 d-flex justify-content-between"
      >
        <div id="2026:11183" class="divframe-202611183">
          <div id="2026:11193" class="divrow-202611193">
            <div id="2026:11195" class="lbldesc-202611195">John Doe</div>
            <div id="2026:11194" class="lbllabel-202611194">Created by</div>
          </div>
          <div id="2026:11190" class="divrow-202611190">
            <div id="2026:11192" class="lbldesc-202611192">Active</div>
            <div id="2026:11191" class="lbldesc-202611191">Current Status</div>
          </div>
          <div id="2026:11187" class="divrow-202611187">
            <div id="2026:11189" class="lbldesc-202611189">Description</div>
            <div id="2026:11188" class="lbldesc-202611188">Description</div>
          </div>
          <div id="2026:11184" class="divrow-202611184">
            <div id="2026:11186" class="lbldesc-202611186">Title Name</div>
            <div id="2026:11185" class="lbldesc-202611185">Title</div>
          </div>
        </div>
        <div id="2026:11196" class="divframe-202611196">
          <div id="2026:11203" class="divrow-202611203">
            <div id="2026:11205" class="lbldesc-202611205">Category Name</div>
            <div id="2026:11204" class="lbllabel-202611204">Category</div>
          </div>
          <div id="2026:11200" class="divrow-202611200">
            <div id="2026:11202" class="lbllabel-202611202">
              12/12/2023 10:32am
            </div>
            <div id="2026:11201" class="lbldesc-202611201">End Date/Time</div>
          </div>
          <div id="2026:11197" class="divrow-202611197">
            <div id="2026:11199" class="lbldesc-202611199">
              12/12/2023 10:32am
            </div>
            <div id="2026:11198" class="lbldesc-202611198">Start Date/Time</div>
          </div>
        </div>
      </div>
      <div id="2165:2213" class="divparticipants-21652213">
        <div id="2026:11206" class="lblparticipants-202611206">
          Participants
        </div>

        <div id="2026:11245" class="divtable-202611245 d-flex">
          <div class="col">
            <div
              id="2026:12704"
              class="divheader-202612704 d-flex justify-content-between align-items-center"
            >
              <div id="2026:12715" class="divcell-202612715">
                <div id="2026:12716" class="divlabel-202612716">
                  <div id="2026:12732" class="lbltext-202612732">From</div>
                </div>
              </div>
              <div
                id="2026:12733"
                class="divsort-202612733 d-flex jutify-content-center align-items-center"
              >
                <svg
                  width="10"
                  height="14"
                  viewBox="0 0 10 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.28125 8H8.71875C9.375 8 9.71875 8.8125 9.25 9.28125L5.53125 13C5.21875 13.3125 4.75 13.3125 4.46875 13L0.75 9.28125C0.25 8.8125 0.59375 8 1.28125 8ZM9.25 4.71875C9.71875 5.21875 9.375 6 8.71875 6H1.28125C0.59375 6 0.25 5.21875 0.75 4.71875L4.46875 1C4.75 0.71875 5.21875 0.71875 5.53125 1L9.25 4.71875Z"
                    fill="#464E5F"
                  />
                </svg>
              </div>
            </div>
            <div id="2026:12749" class="divrow-202612749">
              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      John Doe
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      John Doe
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      John Doe
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      John Doe
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      John Doe
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              id="2026:12704"
              class="divheader-202612704 d-flex justify-content-between align-items-center"
            >
              <div id="2026:12715" class="divcell-202612715">
                <div id="2026:12716" class="divlabel-202612716">
                  <div id="2026:12732" class="lbltext-202612732">To</div>
                </div>
              </div>
              <div
                id="2026:12733"
                class="divsort-202612733 d-flex jutify-content-center align-items-center"
              >
                <svg
                  width="10"
                  height="14"
                  viewBox="0 0 10 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.28125 8H8.71875C9.375 8 9.71875 8.8125 9.25 9.28125L5.53125 13C5.21875 13.3125 4.75 13.3125 4.46875 13L0.75 9.28125C0.25 8.8125 0.59375 8 1.28125 8ZM9.25 4.71875C9.71875 5.21875 9.375 6 8.71875 6H1.28125C0.59375 6 0.25 5.21875 0.75 4.71875L4.46875 1C4.75 0.71875 5.21875 0.71875 5.53125 1L9.25 4.71875Z"
                    fill="#464E5F"
                  />
                </svg>
              </div>
            </div>
            <div id="2026:12749" class="divrow-202612749">
              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      Jane Doe
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      Jane Doe
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      Jane Doe
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      Jane Doe
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      Jane Doe
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              id="2026:12704"
              class="divheader-202612704 d-flex justify-content-between align-items-center"
            >
              <div id="2026:12715" class="divcell-202612715">
                <div id="2026:12716" class="divlabel-202612716">
                  <div id="2026:12732" class="lbltext-202612732">Status</div>
                </div>
              </div>
              <div
                id="2026:12733"
                class="divsort-202612733 d-flex jutify-content-center align-items-center"
              >
                <svg
                  width="10"
                  height="14"
                  viewBox="0 0 10 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.28125 8H8.71875C9.375 8 9.71875 8.8125 9.25 9.28125L5.53125 13C5.21875 13.3125 4.75 13.3125 4.46875 13L0.75 9.28125C0.25 8.8125 0.59375 8 1.28125 8ZM9.25 4.71875C9.71875 5.21875 9.375 6 8.71875 6H1.28125C0.59375 6 0.25 5.21875 0.75 4.71875L4.46875 1C4.75 0.71875 5.21875 0.71875 5.53125 1L9.25 4.71875Z"
                    fill="#464E5F"
                  />
                </svg>
              </div>
            </div>
            <div id="2026:12749" class="divrow-202612749">
              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      Assigned
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      CHECKED-IN
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      CHECKED-IN
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      CHECKED-OUT
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      CHECKED-IN
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              id="2026:12704"
              class="divheader-202612704 d-flex justify-content-between align-items-center"
            >
              <div id="2026:12715" class="divcell-202612715">
                <div id="2026:12716" class="divlabel-202612716">
                  <div id="2026:12732" class="lbltext-202612732">
                    Assigned By
                  </div>
                </div>
              </div>
              <div
                id="2026:12733"
                class="divsort-202612733 d-flex jutify-content-center align-items-center"
              >
                <svg
                  width="10"
                  height="14"
                  viewBox="0 0 10 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.28125 8H8.71875C9.375 8 9.71875 8.8125 9.25 9.28125L5.53125 13C5.21875 13.3125 4.75 13.3125 4.46875 13L0.75 9.28125C0.25 8.8125 0.59375 8 1.28125 8ZM9.25 4.71875C9.71875 5.21875 9.375 6 8.71875 6H1.28125C0.59375 6 0.25 5.21875 0.75 4.71875L4.46875 1C4.75 0.71875 5.21875 0.71875 5.53125 1L9.25 4.71875Z"
                    fill="#464E5F"
                  />
                </svg>
              </div>
            </div>
            <div id="2026:12749" class="divrow-202612749">
              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      Jane Doe
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      Jane Doe
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      Jane Doe
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      Jane Doe
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      Jane Doe
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              id="2026:12704"
              class="divheader-202612704 d-flex justify-content-between align-items-center"
            >
              <div id="2026:12715" class="divcell-202612715">
                <div id="2026:12716" class="divlabel-202612716">
                  <div id="2026:12732" class="lbltext-202612732">
                    Check In Date
                  </div>
                </div>
              </div>
              <div
                id="2026:12733"
                class="divsort-202612733 d-flex jutify-content-center align-items-center"
              >
                <svg
                  width="10"
                  height="14"
                  viewBox="0 0 10 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.28125 8H8.71875C9.375 8 9.71875 8.8125 9.25 9.28125L5.53125 13C5.21875 13.3125 4.75 13.3125 4.46875 13L0.75 9.28125C0.25 8.8125 0.59375 8 1.28125 8ZM9.25 4.71875C9.71875 5.21875 9.375 6 8.71875 6H1.28125C0.59375 6 0.25 5.21875 0.75 4.71875L4.46875 1C4.75 0.71875 5.21875 0.71875 5.53125 1L9.25 4.71875Z"
                    fill="#464E5F"
                  />
                </svg>
              </div>
            </div>
            <div id="2026:12749" class="divrow-202612749">
              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      12/12/2024 10:00pm
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      12/12/2023 10:00pm
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      12/12/2023 10:00pm
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      12/12/2023 10:00pm
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      12/12/2023 10:00pm
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div
              id="2026:12704"
              class="divheader-202612704 d-flex justify-content-between align-items-center"
            >
              <div id="2026:12715" class="divcell-202612715">
                <div id="2026:12716" class="divlabel-202612716">
                  <div id="2026:12732" class="lbltext-202612732">
                    Check Out Date
                  </div>
                </div>
              </div>
              <div
                id="2026:12733"
                class="divsort-202612733 d-flex jutify-content-center align-items-center"
              >
                <svg
                  width="10"
                  height="14"
                  viewBox="0 0 10 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.28125 8H8.71875C9.375 8 9.71875 8.8125 9.25 9.28125L5.53125 13C5.21875 13.3125 4.75 13.3125 4.46875 13L0.75 9.28125C0.25 8.8125 0.59375 8 1.28125 8ZM9.25 4.71875C9.71875 5.21875 9.375 6 8.71875 6H1.28125C0.59375 6 0.25 5.21875 0.75 4.71875L4.46875 1C4.75 0.71875 5.21875 0.71875 5.53125 1L9.25 4.71875Z"
                    fill="#464E5F"
                  />
                </svg>
              </div>
            </div>
            <div id="2026:12749" class="divrow-202612749">
              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      12/12/2024 10:00pm
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      12/12/2024 10:00pm
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      12/12/2024 10:00pm
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      12/12/2024 10:00pm
                    </div>
                  </div>
                </div>
              </div>

              <div class="td">
                <div id="2026:12959" class="divline-202612959"></div>
                <div id="2026:12921" class="divcell-202612921">
                  <div id="2026:12923" class="divcontent-202612923">
                    <div id="2026:12940" class="lbltext-202612940">
                      12/12/2024 10:00pm
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
