.divBody-204120996 {
  position: relative;
  width: 100%;
  height: 902px;
  opacity: 1;
  border-bottom: 1px SOLID #ecf0f3;
}
.divQuantity-20418038 {
  position: relative;
  width: 100%;
  height: 324px;
  opacity: 1;
  border-radius: 12px;
  border: 1px SOLID #b5b5c3;
  background-color: #ffffff;
}
.divHeader-20418039 {
  position: relative;
  width: 100%;
  height: 40px;
  opacity: 1;
  border: none !important;
}
.divTitleHeader-20418040 {
  position: relative;
  width: 411px;
  height: 44px;
  opacity: 1;
  border: none !important;
  background-color: #ffffff;
}
.divLeft-20418041 {
  position: absolute;
  width: 179px;
  height: 26px;
  opacity: 1;
  border: none !important;
}
.diivlblTitle-20418042 {
  position: absolute;
  width: 128px;
  height: 26px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 17px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #212121;
}
.divlblLabel-20418043 {
  position: absolute;
  width: 242px;
  height: 18px;
  top: 26px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #b5b5c3;
}
.divRight-20418090 {
  position: relative;
  width: 71px;
  height: 33px;
  opacity: 1;
  border: none !important;
}
.btnmatViewAll-20418091 {
  position: absolute;
  width: 81px;
  height: 34px;
  top: 0.5px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
  background-color: #eee5ff;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  text-decoration: NONE;
  color: #522e86;
}
.divlblViewAll-20418107 {
  position: absolute;
  width: 47px;
  height: 18px;
  top: 7px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}
.divframe-20418136 {
  position: relative;
  width: 100%;
  height: 220px;
  opacity: 1;
  border: none !important;
}
.divActivity-20418387 {
  position: relative;
  width: 100%;
  height: 433px;
  opacity: 1;
  border-radius: 12px;
  border: 1px SOLID #b5b5c3;
  background-color: #ffffff;
}
.divHeader-20418388 {
  position: relative;
  width: 100%;
  height: 40px;
  opacity: 1;
  border: none !important;
}
.divlistHeader-20418389 {
  position: relative;
  width: 309px;
  height: 44px;
  opacity: 1;
  border: none !important;
  background-color: #ffffff;
}
.divLeft-20418390 {
  position: absolute;
  width: 179px;
  height: 26px;
  opacity: 1;
  border: none !important;
}
.divlblTitle-20418391 {
  position: absolute;
  width: 184px;
  height: 26px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 17px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #212121;
}
.divlblLabel-20418392 {
  position: absolute;
  width: 282px;
  height: 18px;
  top: 26px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #b5b5c3;
}
.divRight-20418439 {
  position: relative;
  width: 71px;
  height: 33px;
  opacity: 1;
  border: none !important;
}
.btnmatViewAll-20418440 {
  position: absolute;
  width: 81px;
  height: 34px;
  top: 0.5px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
  background-color: #eee5ff;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  text-decoration: NONE;
  color: #522e86;
}
.divlblViewAll-20418456 {
  position: absolute;
  width: 47px;
  height: 18px;
  top: 7px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}
.divframe-20418485 {
  position: relative;
  width: 100%;
  height: 350px;
  opacity: 1;
  border-radius: 8px;
  border: 1px SOLID #cccccc;
}
.divAnalytics-20418737 {
  position: relative;
  width: 510px;
  height: 493px;
  opacity: 1;
  border-radius: 12px;
  border: 1px SOLID #b5b5c3;
  box-shadow: 0px 0px 30px 0px
    rgb(
      0.2199479192495346,
      0.27852916717529297,
      0.42916667461395264,
      0.09000000357627869
    );
  background-color: #ffffff;
}
.divHeader-20418738 {
  position: relative;
  width: 100%;
  height: 49px;
  opacity: 1;
  border: none !important;
}
.divTitleHeader-20418739 {
  position: relative;
  width: 100%;
  height: 49px;
  opacity: 1;
  border: none !important;
  background-color: #ffffff;
}
.divLeft-20418740 {
  position: relative;
  width: 208px;
  height: 49px;
  opacity: 1;
  border: none !important;
}
.divlblTitle-20418741 {
  position: absolute;
  width: 208px;
  height: 26px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 17px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}
.divlblDescription-20418742 {
  position: absolute;
  width: 187px;
  height: 18px;
  top: 31px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #b5b5c3;
}
.divRight-20418743 {
  position: relative;
  width: 71px;
  height: 33px;
  opacity: 1;
  border: none !important;
}
.btnmatViewAll-20418744 {
  position: absolute;
  width: 71px;
  height: 34px;
  top: 0.5px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
  background-color: #eee5ff;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  text-decoration: NONE;
  text-align: center;
  color: #522e86;
}
.divlblViewAll-20418760 {
  position: absolute;
  width: 47px;
  height: 18px;
  top: 7px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}
.divGraph-20418789 {
  position: absolute;
  width: 213.22705078125px;
  height: 166.06072998046875px;
  margin-left: 80.386474609375px;
  top: 97.64642333984375px;
  opacity: 1;
  border: none !important;
}
.svgGraph-20418790 {
  position: absolute;
  width: 217.22705078125px;
  height: 170.35365295410156px;
  margin-left: -2px;
  top: 1px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
.divChart-20418807 {
  position: absolute;
  width: 314px;
  height: 50px;
  margin-left: 30px;
  top: 289.35357666015625px;
  opacity: 1;
  border-radius: 4px;
  border: none !important;
}
.svgchtPie-20418808 {
  position: absolute;
  width: 314px;
  height: 50px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
.divlblcount-20418813 {
  position: absolute;
  width: 15px;
  height: 18px;
  margin-left: 296px;
  top: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #f5f5f5;
}
.divlblcount-20418814 {
  position: absolute;
  width: 20px;
  height: 18px;
  margin-left: 216px;
  top: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #f5f5f5;
}
.divlblcount-20418815 {
  position: absolute;
  width: 23px;
  height: 18px;
  margin-left: 72px;
  top: 16px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #f5f5f5;
}
.divframe-20418836 {
  position: absolute;
  width: 314px;
  height: 105px;
  margin-left: 30px;
  top: 365px;
  opacity: 1;
  border: none !important;
}
.divItem1-20418837 {
  position: absolute;
  width: 104.66666412353516px;
  height: 105px;
  opacity: 1;
  border: none !important;
}
.divcounter-20418838 {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: 32.33333206176758px;
  top: 12px;
  opacity: 1;
  border-radius: 8px;
  border: none !important;
  background-color: #f3f6f9;
}
.divlblcount-20418853 {
  position: absolute;
  width: 23px;
  height: 27px;
  margin-left: 9px;
  top: 9px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 18px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  text-align: CENTER;
  border: none !important;
  color: #333333;
}
.divlblTitle-20418854 {
  position: absolute;
  width: 80px;
  height: 23px;
  margin-left: 12.333332061767578px;
  top: 52px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 15px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  text-align: CENTER;
  border: none !important;
  color: #34a7aa;
}
.divlblDescription-20418855 {
  position: absolute;
  width: 88.66666412353516px;
  height: 18px;
  margin-left: 8px;
  top: 75px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  text-align: CENTER;
  border: none !important;
  color: #b5b5c3;
}
.dvd-20418856 {
  position: absolute;
  width: 105px;
  margin-left: 104.66667175292969px;
  opacity: 1;
  border: 1px SOLID #ebebeb;
}
.divItem2-20418857 {
  position: absolute;
  width: 104.66667175292969px;
  height: 105px;
  margin-left: 104.66667175292969px;
  opacity: 1;
  border: none !important;
}
.divcounter-20418858 {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: 32.333335876464844px;
  top: 12px;
  opacity: 1;
  border-radius: 8px;
  border: none !important;
  background-color: #f3f6f9;
}
.divlblcount-20418859 {
  position: absolute;
  width: 22px;
  height: 27px;
  margin-left: 9px;
  top: 9px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 18px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  text-align: CENTER;
  border: none !important;
  color: #333333;
}
.divlblTitle-20418860 {
  position: absolute;
  width: 80px;
  height: 23px;
  margin-left: 12.333335876464844px;
  top: 52px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 15px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  text-align: CENTER;
  border: none !important;
  color: #f9a93b;
}
.divlblDescription-20418861 {
  position: absolute;
  width: 88.66667175292969px;
  height: 18px;
  margin-left: 8px;
  top: 75px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  text-align: CENTER;
  border: none !important;
  color: #b5b5c3;
}
.dvd-20418862 {
  position: absolute;
  width: 105px;
  margin-left: 209.33334350585938px;
  opacity: 1;
  border: 1px SOLID #ebebeb;
}
.divItem3-20418863 {
  position: absolute;
  width: 104.66667175292969px;
  height: 105px;
  margin-left: 209.33334350585938px;
  opacity: 1;
  border: none !important;
}
.divcounter-20418864 {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: 32.333335876464844px;
  top: 12px;
  opacity: 1;
  border-radius: 8px;
  border: none !important;
  background-color: #f3f6f9;
}
.divlblcount-20418871 {
  position: absolute;
  width: 12px;
  height: 27px;
  margin-left: 14px;
  top: 9px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 18px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  text-align: CENTER;
  border: none !important;
  color: #333333;
}
.divlblTitle-20418872 {
  position: absolute;
  width: 66px;
  height: 23px;
  margin-left: 19.333335876464844px;
  top: 52px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 15px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  text-align: CENTER;
  border: none !important;
  color: #ff4f4f;
}
.divlblDescription-20418873 {
  position: absolute;
  width: 88.66667175292969px;
  height: 18px;
  margin-left: 8px;
  top: 75px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 12px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  text-align: CENTER;
  border: none !important;
  color: #b5b5c3;
}
