.divcontent-21275649 {
  position: relative;
  width: 100%;
  height: 903px;
  opacity: 1;
  border: none !important;
}
.btnmatbutton-212711357 {
  position: relative;
  width: 178px;
  height: 40px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
  background-color: #250660;
}
.svgAddIcon-212711358 {
  position: relative;
  width: 20px;
  //height: 20px;
  //top: 4px;
  //left: 22px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
.divbtladdproduct-212711373 {
  position: absolute;
  width: 110px;
  height: 20px;
  top: 4px;
  left: 50px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #ffffff;
}
.divlbltitle-212711389 {
  position: relative;
  width: 271px;
  height: 30px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #434349;
}

.divtable-3369871 {
  width: 100%;
  min-height: 360px;
  opacity: 1;
  border: none !important;
}

.card-footer {
  margin-top: 5px;
  justify-content: end;
  display: flex;
  color: var(--text-colors-dark-75464-e-5-f, #464e5f);
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.mat-paginator {
  color: var(--text-colors-dark-5080808-f, #80808f);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 11px;
}

.table-card {
  border-radius: 10px;
  width: 100%;
  justify-self: center;
  align-self: center; 
  
  
  .color-bg {
    background-color: #e1e9ff;
    color: #522e86;
    width: 60px;
    padding: 5px;
    border-radius: 5px;
  }

  .btn-color-violet {
    background-color: #522e86;
    color: #fff;
  }

  .bg-color-status {
    background: #c9f7f5;
    color: #1bc5bd;
    width: 90px;
    padding: 6px;
    border-radius: 20px;

    .text-status {
      width: 40px;
      margin-left: 14px;
    }
  }
  
  .card-footer {
    margin-top: 5px;
    justify-content: end;
    display: flex;
  }
  mat-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 2px;
  }
  .btntext {
    position: relative;
    margin-left: 22px;
    top: 2px;
  }
}
.divpagination-782122089 {
  top: 20px;
  position: relative;
  width: 100%;
  height: 42px;
  opacity: 1;
  border: none !important;
  bottom: 50px;
}
.drpdisplay-782122090 {
  position: relative;
  width: 67px;
  height: 30px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
  background-color: #e5eaee;
}

.lbltext-782122091 {
  position: absolute;
  width: 10px;

  margin-left: 12px;
  top: 10px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 11px;
  line-height: 11px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #212121;
}
.divdropdown-782122092 {
  position: absolute;
  width: 24px;
  height: 30px;
  margin-left: 43px;
  opacity: 1;
  border: none !important;
  background-color: #f3f6f9;
}
.svgdropdown-782122093 {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  top: 2px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
.divleft-782122107 {
  position: relative;
  width: 210px;
  height: 32px;
  opacity: 1;
  border: none !important;
}
.divpagination-782122108 {
  position: relative;
  height: 32px;
  opacity: 1;
  border: none !important;
}
.ibtmatback-782122109 {
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
  background-color: #f3f6f9;
}
.svgleft-782122110 {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 6px;
  top: 4px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
.ibtmatselected-782122121 {
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
  background-color: #6993ff;
}
.svgone-782122122 {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: 7px;
  top: 7px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
.ibtmatnormal-782122137 {
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
  background-color: #f3f6f9;
}
.svgtwo-782122138 {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: 7px;
  top: 7px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
.ibtmatnormal-782122153 {
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
  background-color: #f3f6f9;
}
.svgthree-782122154 {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: 7px;
  top: 7px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
.ibtmatnext-782122169 {
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
  background-color: #f3f6f9;
}
.svgright-782122170 {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: 7px;
  top: 7px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
