<div class="d-flex">
  <app-view-asset-details-sidebar></app-view-asset-details-sidebar>
  <div class="w-100">
    <app-asset-list-header></app-asset-list-header>
    <app-view-asset-details-breadcrumb></app-view-asset-details-breadcrumb>
    <div id="2218:3151" class="divbody-22183151">
      <div id="2202:4246" class="divtitle-22024246">
        <div id="2202:4247" class="lblviewAssetDetails-22024247">
          View Asset Details
        </div>
        <button
          mat-button=""
          id="2202:4249"
          class="btn btnmatbackToDashboard-22024249"
          (click)="goToHome()"
        >
          Back to Dashboard
        </button>
      </div>
      <div id="2202:4219" class="divdescription-22024219 px-3">
        <div id="2202:4220" class="divleft-22024220">
          <div id="2202:4230" class="divrow-22024230">
            <div id="2202:4232" class="lblitemdescription-22024232">
              Sample Brand
            </div>
            <div id="2202:4231" class="lblitemdescription-22024231">Brand</div>
          </div>
          <div id="2202:4227" class="divrow-22024227">
            <div id="2202:4229" class="lblitemdescription-22024229">
              {{ assetDetails.Description }}
            </div>
            <div id="2202:4228" class="lblitemdescription-22024228">
              Condition
            </div>
          </div>
          <div id="2202:4224" class="divrow-22024224">
            <div id="2202:4226" class="lblitemdescription-22024226">
              {{ assetDetails.ProductName }}
            </div>
            <div id="2202:4225" class="lblitemdescription-22024225">
              Asset Name
            </div>
          </div>
          <div id="2202:4221" class="divrow-22024221">
            <div id="2202:4223" class="lblitemdescription-22024223">
              {{ assetDetails.Code }}
            </div>
            <div id="2202:4222" class="lblitemdescription-22024222">
              Asset ID
            </div>
          </div>
        </div>
        <div id="2202:4233" class="divright-22024233">
          <div id="2202:4243" class="divrow-22024243">
            <div id="2202:4245" class="lblitemdescription-22024245">
              Account Name
            </div>
            <div id="2202:4244" class="lblitemdescription-22024244">
              Assigned By
            </div>
          </div>
          <div id="2202:4240" class="divrow-22024240">
            <div id="2202:4242" class="lblitemdescription-22024242">
              MM/DD/YYYY
            </div>
            <div id="2202:4241" class="lblitemdescription-22024241">
              Assigned Date
            </div>
          </div>
          <div id="2202:4237" class="divrow-22024237">
            <div id="2202:4239" class="lblitemdescription-22024239">
              {{ assetDetails.Status }}
            </div>
            <div id="2202:4238" class="lblitemdescription-22024238">Status</div>
          </div>
          <div id="2202:4234" class="divrow-22024234">
            <div id="2202:4236" class="lblitemdescription-22024236">
              {{ assetDetails.Category }}
            </div>
            <div id="2202:4235" class="lblitemdescription-22024235">
              Category
            </div>
          </div>
        </div>
      </div>
      <div id="2202:4281" class="divcomments-22024281">
        <div id="2202:4282" class="lbltextr-22024282">Comments</div>
        <div id="2202:4283" class="lbltextr-22024283">
          Sample Comments and Reasons Here
        </div>
      </div>
    </div>
  </div>
</div>
