<div class="modal">
  <div class="content">
    <div
      id="463:2414"
      class="divheader-4632414 d-flex justify-content-between align-items-center ps-4"
    >
      <div id="463:2415" class="lbltitle-4632415">Check In Asset</div>
      <button
        mat-button=""
        id="463:2416"
        class="btn btnmatclose-4632416"
        (click)="goToDashboard()"
      >
        <svg
          width="22"
          height="22"
          viewBox="0 0 22 22"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M2.21875 0.78125L0.78125 2.21875L9.5625 11L0.78125 19.7812L2.21875 21.2188L11 12.4375L19.7812 21.2188L21.2188 19.7812L12.4375 11L21.2188 2.21875L19.7812 0.78125L11 9.5625L2.21875 0.78125Z"
            fill="#212121"
          />
        </svg>
      </button>
    </div>

    <div id="463:2418" class="divutility-4632418">
      <div id="463:2446" class="lbltxt-4632446">Asset Details</div>
      <div id="463:2419" class="divframe-4632419">
        <div id="463:2433" class="divcontainer-4632433">
          <div id="463:2443" class="divrow-4632443">
            <div id="463:2445" class="lbllabel-4632445">12/12/2023</div>
            <div id="463:2444" class="lbllabel-4632444">Assigned Date</div>
          </div>
          <div id="463:2440" class="divrow-4632440">
            <div id="463:2442" class="lbllabel-4632442">Account Name</div>
            <div id="463:2441" class="lbllabel-4632441">Assigned By</div>
          </div>
          <div id="463:2437" class="divrow-4632437">
            <div id="463:2439" class="lbllabel-4632439">In Use</div>
            <div id="463:2438" class="lbllabel-4632438">Status</div>
          </div>
          <div id="463:2434" class="divrow-4632434">
            <div id="463:2436" class="lbllabel-4632436">Asset Category</div>
            <div id="463:2435" class="lbllabel-4632435">Category</div>
          </div>
        </div>
        <div id="463:2420" class="divcontainer-4632420">
          <div id="463:2430" class="divrow-4632430">
            <div id="463:2432" class="lbllabel-4632432">Sample Brand</div>
            <div id="463:2431" class="lbllabel-4632431">Brand</div>
          </div>
          <div id="463:2427" class="divrow-4632427">
            <div id="463:2429" class="lbllabel-4632429">Good</div>
            <div id="463:2428" class="lbllabel-4632428">Condition</div>
          </div>
          <div id="463:2424" class="divrow-4632424">
            <div id="463:2426" class="lbllabel-4632426">Asset Name</div>
            <div id="463:2425" class="lbllabel-4632425">Asset Name</div>
          </div>
          <div id="463:2421" class="divrow-4632421">
            <div id="463:2423" class="lbllabel-4632423">1235124</div>
            <div id="463:2422" class="lbllabel-4632422">Asset ID</div>
          </div>
        </div>
      </div>
    </div>

    <div id="463:2447" class="divcontent-4632447">
      <div id="463:2642" class="divcomment-4632642 d-flex">
        <div id="463:2643" class="lblitemdescription-4632643 mt-2">
          Check-IN Comments
        </div>
        <div id="463:2644" class="divcomment-4632644">
          <mat-form-field
            appearance="outline"
            style="font-size: 12px; width: 100%;"
          >
            <mat-label>Sample Comment</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
      </div>
      <div id="463:2570" class="divrow-4632570 d-flex align-items-center">
        <div id="463:2571" class="lblitemdescription-4632571">Site</div>
        <div id="463:2572" class="divsite-4632572">
          <mat-form-field
            appearance="outline"
            style="font-size: 12px; margin-top: -10px; width:100%;"
          >
            <mat-label>Select an option</mat-label>
            <mat-select>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div id="463:2532" class="divrow-4632532 d-flex">
        <div id="463:2533" class="lblitemdescription-4632533">
          Location Name
        </div>
        <div id="463:2534" class="lblitemdescription-4632534">Philippines</div>
      </div>
      <div id="463:2460" class="divrow-4632460 d-flex align-items-center">
        <div id="463:2461" class="lblitemdescription-4632461">
          Check-in Date
        </div>
        <div id="463:2462" class="divdate-4632462">
          <mat-form-field
            appearance="outline"
            style="font-size: 12px; margin-top: -10px; width:100%;"
          >
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Choose a date"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div id="463:2448" class="divrow-4632448">
        <div id="463:2449" class="lbltxt-4632449">Manage Asset</div>
      </div>
    </div>

    <div id="463:3212" class="divfooter-4633212">
      <div id="463:3246" class="divbtn-4633246">
        <button
          mat-button=""
          id="463:3247"
          class="btn btnmatbutton-4633247"
          (click)="goToDashboard()"
        >
          Check In
          <svg
            width="16"
            height="12"
            viewBox="0 0 16 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9.69922 0.238281L8.80078 1.13672L13.0391 5.375H0.5V6.625H13.0391L8.80078 10.8633L9.69922 11.7617L15.0117 6.44922L15.4414 6L15.0117 5.55078L9.69922 0.238281Z"
              fill="white"
            />
          </svg>
        </button>
      </div>
      <div id="463:3213" class="divbtn-4633213">
        <button
          mat-button=""
          id="463:3214"
          class="btn btnmatbutton-4633214"
          (click)="goToDashboard()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
