.divcontent-206220866 {
  position: relative;
  width: 100%;
  height: 794px;
  opacity: 1;
  border: none !important;
}
.divcontainer-205933050 {
  position: relative;
  width: 100%;
  height: 403px;
  padding-left: 28px;
  top: 70px;
  opacity: 1;
  border: none !important;
}
.divtop-206220867 {
  position: absolute;
  width: 221px;
  height: 36px;
  top: 5px;
  opacity: 1;
  border: none !important;
}

.lblborrowhistory-205933051 {
  position: absolute;
  width: 221px;

  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}
.divtable-206220868 {
  position: relative;
  width: 100%;
  height: 345px;
  top: 53px;
  opacity: 1;
  border: none !important;
}
.tblmatdivtable-205933052 {
  position: absolute;
  width: 1115px;
  height: 345px;
  opacity: 1;
  border: none !important;
}
.divcol-205933987 {
  position: absolute;
  width: 185.8333282470703px;
  height: 345px;
  opacity: 1;
  border: none !important;
}
.divcol-205934711 {
  position: absolute;
  width: 185.83334350585938px;
  height: 345px;
  margin-left: 185.8333282470703px;
  opacity: 1;
  border: none !important;
}
.divcol-205934968 {
  position: absolute;
  width: 185.83334350585938px;
  height: 345px;
  margin-left: 371.66668701171875px;
  opacity: 1;
  border: none !important;
}
.divcol-205935225 {
  position: absolute;
  width: 185.8333282470703px;
  height: 345px;
  margin-left: 557.5px;
  opacity: 1;
  border: none !important;
}
.divcol-205935482 {
  position: absolute;
  width: 185.83334350585938px;
  height: 345px;
  margin-left: 743.3333129882812px;
  opacity: 1;
  border: none !important;
}
.divcol-205935739 {
  position: absolute;
  width: 185.83334350585938px;
  height: 345px;
  margin-left: 929.1666259765625px;
  opacity: 1;
  border: none !important;
}
.divcontainer-205932991 {
  position: relative;
  width: 100%;
  height: 166px;
  padding-left: 30px;
  top: 70px;
  opacity: 1;
  border: none !important;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.divleft-205932992 {
  position: relative;
  width: 462px;
  height: 122px;
  opacity: 1;
  border: none !important;
}
.divrow-205932993 {
  position: absolute;
  width: 416px;
  height: 34px;
  opacity: 1;
  border: none !important;
}

.lblTtile-205932994 {
  position: absolute;
  width: 205px;

  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}

.lbltext-205932995 {
  position: absolute;
  width: 95px;

  margin-left: 233px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}
.divrow-205932996 {
  position: absolute;
  width: 462px;
  height: 34px;
  top: 44px;
  opacity: 1;
  border: none !important;
}

.lblTtile-205932997 {
  position: absolute;
  width: 205px;

  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}

.lbltext-205932998 {
  position: absolute;
  width: 229px;

  margin-left: 233px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}
.divrow-205932999 {
  position: absolute;
  width: 416px;
  height: 34px;
  top: 88px;
  opacity: 1;
  border: none !important;
}

.lblTtile-205933000 {
  position: absolute;
  width: 205px;

  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}

.lbltext-205933001 {
  position: absolute;
  width: 126px;

  margin-left: 233px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}
.divright-205933002 {
  position: relative;
  width: 416px;
  height: 166px;
  right: 0px;
  opacity: 1;
  border: none !important;
}
.divrow-205933003 {
  position: absolute;
  width: 416px;
  height: 34px;
  opacity: 1;
  border: none !important;
}

.lblTitle-205933004 {
  position: absolute;
  width: 205px;

  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}

.lbltext-205933005 {
  position: absolute;
  width: 95px;

  margin-left: 233px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}
.divrow-205933006 {
  position: absolute;
  width: 338px;
  height: 34px;
  top: 44px;
  opacity: 1;
  border: none !important;
}

.lblTitle-205933007 {
  position: absolute;
  width: 205px;

  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}

.lbltext-205933008 {
  position: absolute;
  width: 105px;

  margin-left: 233px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}
.divrow-205933009 {
  position: absolute;
  width: 416px;
  height: 34px;
  top: 88px;
  opacity: 1;
  border: none !important;
}

.lblTitle-205933010 {
  position: absolute;
  width: 205px;

  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}

.lbltext-205933011 {
  position: absolute;
  width: 112px;

  margin-left: 233px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}
.divrow-205933012 {
  position: absolute;
  width: 416px;
  height: 34px;
  top: 132px;
  opacity: 1;
  border: none !important;
}

.lblTitle-205933013 {
  position: absolute;
  width: 205px;

  font-family: Poppins;
  font-weight: Bold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}

.lbltext-205933014 {
  position: absolute;
  width: 50px;

  margin-left: 233px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  line-height: 34px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}
.divheader-205933015 {
  position: relative;
  width: 100%;
  height: 40px;
  padding-left: 30px;
  top: 20px;
  opacity: 1;
  border: none !important;

  display: flex;
  justify-content: space-between;
}

.lblview-205933016 {
  position: relative;
  width: 284px;

  top: 6px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  line-height: 28px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}
.btnmatbutton-205933018 {
  top: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 13px;
  text-decoration: NONE;
  color: #ffffff;
  position: relative;
  width: 161px;
  right: 20px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
  background-color: #250660;
}
.btltext-205933034 {
  position: absolute;
  width: 127px;
  top: 10px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #ffffff;
}

.card-footer {
  position: relative;
}
.table-card {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  justify-self: start;
  align-self: center;
  padding: 10px;

  th {
    background-color: #f3f6f9;
  }
  .bg-color-status {
    background: #c9f7f5;
    color: #1bc5bd;
    width: 90px;
    padding: 6px;
    border-radius: 10px;

    .text-status {
      width: 40px;
      margin-left: 14px;
    }
  }
  table th,
  table td {
    width: auto;
  }
  // td,
  // th {
  //   text-align: center !important;
  // }

  .btn-play-now {
    background-color: #ffe2e5;
    color: #f64e60;
    border-radius: 5px;
    width: 100px;
    height: 35px;
  }
  .btntext {
    position: absolute;
    left: 35px;
    top: 2px;
  }
  mat-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
    top: 2px;
  }
  .btn-view-now {
    background-color: #e1e9ff;
    color: #6693ff;
    border-radius: 5px;
    width: 70px;
    height: 35px;

    .btntext {
      position: absolute;
      left: 30px;
      top: 2px;
    }

    mat-icon {
      width: 20px;
      height: 20px;
      position: absolute;
      left: 5px;
      top: 2px;
    }
  }

  .btn-action {
    display: flex;
    justify-content: space-evenly;

    .btn-view {
      background-color: #8f58ff;
      color: #fff;
      border-radius: 10px;
      padding: 10px;
    }
    .btn-approved {
      background-color: #18b9b1;
      color: #fff;
      border-radius: 10px;
      padding: 10px;
    }
    .btn-declined {
      background-color: #ffa800;
      color: #fff;
      border-radius: 10px;
      padding: 10px;
    }
  }
}
