.divsideNav-21195721 {
  position: relative;
  width: 265px;
  // height: 100%;
  height: 1024px;
  opacity: 1;
  border: none !important;
  background-color: #eee5ff;
}
.divRoutingButton-21195722 {
  position: absolute;
  width: 265px;
  height: 440px;
  top: 66px;
  opacity: 1;
  border: none !important;
}
.btnmatdashboard-21195723 {
  position: absolute;
  width: 265px;
  opacity: 1;
  border: none !important;
  background-color: #eee5ff;
}
.divleft-21195724 {
  position: absolute;
  width: 153px;
  height: 44px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
}
.svgdashboard-21195725 {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 19px;
  top: 2px;
  opacity: 1;
  border: none !important;
  padding: 0;
}

.divright-21195737 {
  position: absolute;
  width: 66px;
  height: 44px;
  opacity: 1;
  border: none !important;
}
.svgicons-21195738 {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 23px;
  top: 12px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
.btnmatmanagement-21195743 {
  position: absolute;
  width: 265px;
  top: 44px;
  opacity: 1;
  border: none !important;
  background-color: #eee5ff;
}
.divleft-21195744 {
  position: absolute;
  width: 200px;
  height: 44px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
}
.svgboxes-21195745 {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 19px;
  top: 9px;
  opacity: 1;
  border: none !important;
  padding: 0;
}

.lbltext-21195747 {
  position: absolute;
  width: 122px;

  margin-left: 59px;
  top: 9px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 12px;
  line-height: 26px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}
.divright-21195748 {
  position: absolute;
  width: 66px;
  height: 44px;
  opacity: 1;
  border: none !important;
}
.svgicons-21195749 {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 23px;
  top: 12px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
.btnmatreports-21195754 {
  position: absolute;
  width: 265px;
  top: 88px;
  opacity: 1;
  border: none !important;
}

.divleft-21195755 {
  position: absolute;
  width: 48px;
  margin-left: 59px;
  top: 9px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 12px;
  line-height: 26px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
  position: absolute;
  width: 126px;
  height: 44px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
}

.svgreports-22334454 {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 19px;
  top: 9px;
  opacity: 1;
  border: none !important;
  padding: 0;
}

.btltext-21195760 {
  position: absolute;
  width: 48px;
  margin-left: 59px;
  top: 9px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 12px;
  line-height: 26px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}

.divright-21195761 {
  position: absolute;
  width: 66px;
  height: 44px;
  opacity: 1;
  border: none !important;
}

.svgicons-21195762 {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 23px;
  top: 12px;
  opacity: 1;
  border: none !important;
  padding: 0;
}

.svg-22334455 {
  position: absolute;
  width: 26px;
  height: 26px;
  opacity: 1;
  border: none !important;
  padding: 0;
}

.svgicons-21195762 {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 23px;
  top: 12px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
.btnmattracking-21195767 {
  position: absolute;
  width: 265px;
  top: 132px;
  opacity: 1;
  border: none !important;
  background-color: #eee5ff;
}
.divleft-21195768 {
  position: absolute;
  width: 170px;
  height: 44px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
}
.svgdelivery-21195769 {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 19px;
  top: 9px;
  opacity: 1;
  border: none !important;
  padding: 0;
}

.lbltext-21195771 {
  position: absolute;
  width: 92px;

  margin-left: 59px;
  top: 9px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 12px;
  line-height: 26px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}
.divright-21195772 {
  position: absolute;
  width: 66px;
  height: 44px;
  opacity: 1;
  border: none !important;
}
.svgicons-21195773 {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 23px;
  top: 12px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
.btnmatsettings-21195778 {
  position: absolute;
  width: 265px;
  top: 176px;
  opacity: 1;
  border: none !important;
  background-color: #6363e7;
}
.divleft-21195779 {
  position: absolute;
  width: 123px;
  height: 44px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
}
.svgslider-21195780 {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 19px;
  top: 9px;
  opacity: 1;
  border: none !important;
  padding: 0;
}

.lbltext-21195782 {
  position: absolute;
  width: 45px;

  margin-left: 59px;
  top: 9px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 12px;
  line-height: 26px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #f4f4f8;
}
.divright-21195783 {
  position: absolute;
  width: 66px;
  height: 44px;
  opacity: 1;
  border: none !important;
}
.svgicons-21195784 {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 23px;
  top: 12px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
.btnmatschedule-21195789 {
  position: absolute;
  width: 265px;
  top: 220px;
  opacity: 1;
  border: none !important;
  background-color: #deccff;
}

.lbltext-21195791 {
  position: absolute;

  margin-left: 59px;

  font-family: Poppins;
  font-weight: Bold;
  font-size: 12px;
  line-height: 26px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}
.btnmatrecord-21195792 {
  position: absolute;
  width: 265px;
  top: 264px;
  opacity: 1;
  border: none !important;
  background-color: #deccff;
}
.divtext-21195793 {
  position: absolute;
  width: 265px;
  height: 44px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
}

.lbltext-21195794 {
  position: absolute;
  width: 128px;

  margin-left: 59px;
  top: 9px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 12px;
  line-height: 26px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}
.btnmathistory-21195795 {
  position: absolute;
  width: 265px;
  top: 308px;
  opacity: 1;
  border: none !important;
  background-color: #c6a8ff;
}
.divtext-21195796 {
  position: absolute;
  width: 265px;
  height: 44px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
}

.lbltext-21195797 {
  position: absolute;
  width: 129px;

  margin-left: 59px;
  top: 9px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 12px;
  line-height: 26px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}
.btnmatcheckin-21195798 {
  position: absolute;
  width: 265px;
  top: 352px;
  opacity: 1;
  border: none !important;
  background-color: #deccff;
}
.divtext-21195799 {
  position: absolute;
  width: 265px;
  height: 44px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
}

.lbltext-21195800 {
  position: absolute;
  width: 54px;

  margin-left: 59px;
  top: 9px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 12px;
  line-height: 26px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}
.btnmatbutton-21195801 {
  position: absolute;
  width: 265px;
  top: 396px;
  opacity: 1;
  border: none !important;
  background-color: #deccff;
}
.divtext-21195802 {
  position: absolute;
  width: 265px;
  height: 44px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
}

.lbltextltext-21195803 {
  position: absolute;
  width: 65px;

  margin-left: 59px;
  top: 9px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 12px;
  line-height: 26px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}
.divcompanylogo-21195804 {
  position: absolute;
  width: 265px;
  height: 66px;
  opacity: 1;
  border: none !important;
  background-color: #522e86;
}

.divTopHeader-32114 {
  position: relative;
  width: 265px;
  height: 66px;
  opacity: 1;
  border: none !important;
  background-color: #d7caed;
}
.ibtCloseNav-32115 {
  position: absolute;
  width: 15px;
  height: 9.24000358581543px;
  right: 25px;
  top: 15px;
  opacity: 1;
  border: none !important;
}
.svgCloseNavIcon-32116 {
  position: absolute;
  width: 15px;
  height: 9.24000358581543px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
.divlogo-32119 {
  position: absolute;
  width: 119px;
  height: 38px;
  margin-left: 20px;
  top: 14px;
  opacity: 1;
  border: none !important;
}
.svgXamunLogo-321110 {
  position: absolute;
  width: 119.9327621459961px;
  height: 37.32788848876953px;
  margin-left: -0.9327604174613953px;
  top: 6.279214903706686e-15px;
  opacity: 1;
  border: none !important;
  padding: 0;
}

.btnsidebar {
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 13px;
  text-decoration: NONE;
  color: #522e86;
  display: block;
  width: 265px;
  height: 44px;
  opacity: 1;
  border: none !important;
  background-color: #eee5ff;
}
.btnsidebarActive {
  font-family: Poppins;
  font-weight: bold;
  font-size: 13px;
  text-decoration: NONE;
  color: #6363e7;
  display: block;
  width: 265px;
  height: 44px;
  opacity: 1;
  border: none !important;
  background-color: #6363e7;
}
.divRight {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 32px;
  right: 40px;
  opacity: 1;
  border: none !important;
}
.divleft {
  position: absolute;
  width: 26px;
  height: 26px;
  bottom: 23px;

  opacity: 1;
  border: none !important;
}
.btntext {
  position: absolute;
  width: 75px;
  margin-left: 40px;
  top: 9px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 13px;
  line-height: 26px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}
.btntextActive {
  position: absolute;
  width: 75px;
  margin-left: 28px;
  top: 9px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 13px;
  line-height: 26px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: white;
}
.btntext-Reports {
  position: absolute;
  width: 75px;
  margin-left: 28px;
  top: 9px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 13px;
  line-height: 26px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}

.svgLeftIcon {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 2px;
  opacity: 1;
  border: none !important;
  padding: 0;
}

.btnSubMenu {
  width: 265px;
  height: 44px;
  opacity: 1;
  border: none !important;
  background-color: #deccff;
}

.btnSubMenuText {
  text-align: left;
  margin-left: 40px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 12px;
  line-height: 26px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #522e86;
}
