.divBreadcrumb-115583 {
  position: relative;
  width: auto;
  height: 54px;
  opacity: 1;
  border-bottom: 1px SOLID #ecf0f3;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.divright-115595 {
  width: fit-content;
  height: 40px;
  opacity: 1;
  gap: 10px;
  border: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divAssets-115759 {
  width: 117px;
  height: 26px;
  top: 7px;
  opacity: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  border: none !important;
  gap: 12px;
}
.divBadge-115778 {
  width: 38px;
  height: 26px;
  opacity: 1;
  border-radius: 100px;
  border: none !important;
  background-color: #8950fc;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.lblHashtags-115794 {
  width: 20px;
  top: 4px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 11px;
  line-height: 18px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #ffffff;
}

.lblTotalAssets-115878 {
  width: 67px;
  top: 4px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 11px;
  line-height: 18px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
  white-space: nowrap;
}
.divDropdown-115724 {
  width: 141px;
  height: 34px;
  top: 3px;
  opacity: 1;
  border: none !important;
}
.drpoutlineDisplay-115725 {
  width: 141px;
  height: 34px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
  font-size: 10px;
  padding: 0px;
  marging: 0px;
  background-color: #ffffff;
}
.txtlabelDisplay-115742 {
  width: 66px;
  height: 16px;
  top: 9px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 13px;
  line-height: 16px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}

.txtlabelDisplay-115742 {
  width: 66px;
  height: 16px;
  top: 9px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 13px;
  line-height: 16px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}
.divSearchField-115689 {
  width: 236px;
  height: 34px;
  opacity: 1;
  border: none !important;
}
.txtoutlineSearch-115690 {
  width: 236px;
  height: 100%;
  opacity: 1;
  border-radius: 4px;
  border: none !important;
  background-color: #ffffff;
  padding: 0px;
  margin: 0px;
  font-size: 10px;

  mat-label,
  input {
    gap: 10px;
  }

  .mat-form-field-wrapper {
    padding: 0px !important;
  }
}

.txtoutlineSearch-115690 {
  width: 236px;
  height: 34px;
  opacity: 1;
  border-radius: 4px;
  border: none !important;
  background-color: #ffffff;
}
.txtlabelSearch-115707 {
  width: 43px;
  height: 16px;
  top: 9px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  line-height: 16px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #b5b5c3;
}

.txtlabelSearch-115707 {
  width: 43px;
  height: 16px;
  top: 9px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  line-height: 16px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #b5b5c3;
}
.svgSearch-115692 {
  width: 16px;
  height: 16px;
  top: 9px;
  margin-right: 10px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
.ibtmatFilter-115676 {
  width: 40px;
  height: 40px;
  opacity: 1;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none !important;
  background-color: #eee5ff;
}
.svgFilter-115679 {
  width: 24px;
  height: 24px;
  top: 8px;
  opacity: 1;
  border: none !important;
  padding: 0;
}

.lbltext-115588 {
  width: fit-content;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #434349;
  white-space: nowrap;
}
