.divHeader-212719562 {
  position: relative;
  width: 100%;
  height: 65px;
  opacity: 1;
  border: none !important;
  background-color: #eee5ff;
}
.divRight-212719563 {
  position: relative;
  width: 169px;
  height: 35px;
  opacity: 1;
  border: none !important;
}
.svgNotification-212719564 {
  position: relative;
  width: 24px;
  height: 24px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
.divlbltext-212719573 {
  position: relative;
  min-width: 49px;
  height: 18px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 12px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #6c7293;
}
.svgicon-212719574 {
  position: relative;
  width: 36px;
  height: 35px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
