.divNavHeader-14741724 {
  position: relative;
  width: 100%;
  height: 65px;
  opacity: 1;
  border: none !important;
  background-color: #eee5ff;
}
.divLeft-14741725 {
  position: relative;
  width: 391px;
  height: 32px;
  opacity: 1;
  border: none !important;
}
.divlblTitleHeader-14741726 {
  position: absolute;
  width: 80px;
  height: 18px;
  margin-left: 130px;
  top: 7px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #000000;
}
.divLogo-14741727 {
  position: absolute;
  width: 96.79322052001953px;
  height: 29px;
  margin-left: 20px;
  top: 1px;
  opacity: 1;
  border: none !important;
}
.svgIconLogo-14741728 {
  position: absolute;
  width: 96.79322052001953px;
  height: 29px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
.divRight-14741747 {
  position: relative;
  width: 169px;
  height: 35px;
  opacity: 1;
  border: none !important;
}
.ibtNotifications-14741748 {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  bottom: 18px;
  opacity: 1;
  border: none !important;
}
.svgBellIcon-14741749 {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
.divlblName-14741757 {
  position: absolute;
  width: 49px;
  height: 18px;
  margin-left: 54px;
  top: 7.5px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  line-height: undefinedpx;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #6c7293;
}
.ibtProfile-14741758 {
  position: absolute;
  width: 36px;
  height: 35px;
  margin-left: 123px;
  opacity: 1;
  border: none !important;
  background-color: #d7f9ef;
}
.svgNameProfile-14741759 {
  position: absolute;
  width: 10.285714149475098px;
  height: 26px;

  top: 4px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
