.divcontent-21356084 {
  position: relative;
  // width: 1135px;
  width: 100%;
  height: 771px;

  top: 30px;
  opacity: 1;
  border: none !important;
}

.divrow-213512687 {
  position: absolute;
  width: 100%;
  height: 34px;
  padding-left: 9px;
  opacity: 1;
  border: none !important;

  display: flex;
  justify-content: space-between;
}

.divleft-213512688 {
  position: relative;
  width: 478.5px;
  height: 34px;
  opacity: 1;
  border: none !important;
}

.divlabelized-213512689 {
  position: absolute;
  width: 120px;
  height: 26px;
  top: 4px;
  opacity: 1;
  border: none !important;
}

.divbadge-213512708 {
  position: absolute;
  width: 38px;
  height: 26px;
  opacity: 1;
  border-radius: 100px;
  border: none !important;
  background-color: #8950fc;
}

.lbltext-213512724 {
  position: absolute;
  width: 20px;

  margin-left: 9px;
  top: 4px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 11px;
  line-height: 18px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #ffffff;
}

.divlbltext-213512808 {
  position: absolute;
  width: 70px;
  height: 18px;
  margin-left: 50px;
  top: 4px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 11px;
  line-height: 18px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}

.divsearch-213512824 {
  position: absolute;
  width: 236px;
  height: 34px;
  margin-left: 132px;
  top: -10px;
  opacity: 1;
  border: none !important;
}

.txtoutlineSearch-2965181387 {
  position: absolute;
  width: 236px;
  height: 34px;
  opacity: 1;
  border-radius: 4px;
  border: none !important;
  background-color: #ffffff;
}
.divformcontrols-2965181407 {
  position: absolute;
  width: 135px;
  height: 34px;
  opacity: 1;
  border: none !important;
}
.svgLeftIcons-2965181424 {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  bottom: 21px;
  opacity: 1;
  border: none !important;
  padding: 0;
}

.txtlabel-213512842 {
  position: absolute;
  width: 43px;
  height: 16px;
  margin-left: 34px;
  top: 9px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  line-height: 16px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #b5b5c3;
}

.txtlabel-213512842 {
  position: absolute;
  width: 43px;
  height: 16px;
  margin-left: 34px;
  top: 9px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 12px;
  line-height: 16px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #b5b5c3;
}

.divright-213512859 {
  position: relative;
  width: 141px;
  height: 34px;
  right: 10px;
  opacity: 1;
  top: -10px;
  border: none !important;
}

.drpoutlinedefault-2965181536 {
  position: absolute;
  width: 141px;
  height: 34px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
  background-color: #ffffff;
}

.drpdropdown-213512860 {
  position: absolute;
  width: 141px;
  height: 34px;

  opacity: 1;
  border-radius: 6px;
  border: none !important;
  background-color: #ffffff;
}

mat-form-field {
  font-size: 12px;
}

.txtlabel-213512877 {
  position: absolute;
  width: 66px;
  height: 16px;
  margin-left: 12px;
  top: 9px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 13px;
  line-height: 16px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}

.txtlabel-213512877 {
  position: absolute;
  width: 66px;
  height: 16px;
  margin-left: 12px;
  top: 9px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 13px;
  line-height: 16px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #464e5f;
}

.drpdropdown-213512878 {
  position: absolute;
  width: 24px;
  height: 34px;
  margin-left: 117px;
  opacity: 1;
  border: none !important;
  background-color: #e5eaee;
}

.drpdropdown-213512878 {
  position: absolute;
  width: 24px;
  height: 34px;
  margin-left: 117px;
  opacity: 1;
  border: none !important;
  background-color: #e5eaee;
}

.svgcaret-213512879 {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  top: 9px;
  opacity: 1;
  border: none !important;
  padding: 0;
}

.divtable-3369871 {
  width: 100%;
  min-height: 360px;
  opacity: 1;
  border: none !important;
}

.card-footer {
  margin-top: 5px;
  justify-content: end;
  display: flex;
  color: var(--text-colors-dark-75464-e-5-f, #464e5f);
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.mat-paginator {
  color: var(--text-colors-dark-5080808-f, #80808f);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 11px;
}

.table-card {
  border-radius: 10px;
  width: 100%;
  justify-self: center;
  align-self: center;
  padding: 10px;

  table th:last-child,
  table td:last-child {
    width: 5%;
  }

  .color-bg {
    background-color: #e1e9ff;
    color: #522e86;
    width: 60px;
    padding: 5px;
    border-radius: 5px;
  }

  .btn-color-violet {
    background-color: #8950fc;
    color: #fff;
  }

  .bg-color-status {
    background: #c9f7f5;
    color: #1bc5bd;
    width: 90px;
    padding: 6px;
    border-radius: 20px;

    .text-status {
      width: 40px;
      margin-left: 14px;
    }
  }
  .card-footer {
    margin-top: 5px;
    justify-content: end;
    display: flex;
  }
  mat-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 2px;
  }
  .btntext {
    position: relative;
    margin-left: 22px;
    top: 2px;
  }
}
.divpagination-782122089 {
  position: absolute;
  width: 100%;
  height: 42px;
  opacity: 1;
  border: none !important;
  bottom: 50px;
}
.drpdisplay-782122090 {
  position: relative;
  width: 67px;
  height: 30px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
  background-color: #e5eaee;
}

.lbltext-782122091 {
  position: absolute;
  width: 10px;

  margin-left: 12px;
  top: 10px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 11px;
  line-height: 11px;
  opacity: 1;
  text-decoration: NONE;
  border: none !important;
  color: #212121;
}
.divdropdown-782122092 {
  position: absolute;
  width: 24px;
  height: 30px;
  margin-left: 43px;
  opacity: 1;
  border: none !important;
  background-color: #f3f6f9;
}
.svgdropdown-782122093 {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  top: 2px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
.divleft-782122107 {
  position: relative;
  width: 210px;
  height: 32px;
  opacity: 1;
  border: none !important;
}
.divpagination-782122108 {
  position: relative;
  height: 32px;
  opacity: 1;
  border: none !important;
}
.ibtmatback-782122109 {
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
  background-color: #f3f6f9;
}
.svgleft-782122110 {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 6px;
  top: 4px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
.ibtmatselected-782122121 {
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
  background-color: #6993ff;
}
.svgone-782122122 {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: 7px;
  top: 7px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
.ibtmatnormal-782122137 {
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
  background-color: #f3f6f9;
}
.svgtwo-782122138 {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: 7px;
  top: 7px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
.ibtmatnormal-782122153 {
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
  background-color: #f3f6f9;
}
.svgthree-782122154 {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: 7px;
  top: 7px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
.ibtmatnext-782122169 {
  position: relative;
  width: 32px;
  height: 32px;
  opacity: 1;
  border-radius: 6px;
  border: none !important;
  background-color: #f3f6f9;
}
.svgright-782122170 {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: 7px;
  top: 7px;
  opacity: 1;
  border: none !important;
  padding: 0;
}
